.firstSection {
  color: var(--primary-text);
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 32pt;
  position: relative;

  .bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(
      -60deg,
      var(--primary) 50%,
      var(--secondary) 50%
    );
    bottom: 0;
    left: -50%;
    opacity: 0.5;
    position: absolute;
    right: -50%;
    top: 0;
    z-index: -1;
  }

  .bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
  }

  .bg3 {
    animation-duration: 5s;
  }

  @keyframes slide {
    0% {
      transform: translateX(-25%);
    }
    100% {
      transform: translateX(25%);
    }
  }

  .content {
    background-color: var(--primary);
    opacity: 0.8;
    border-radius: 0.25em;
    box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    left: 50%;
    padding: 4vmin;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);

    .name {
      color: var(--secondary-text);
    }

    .getStartedButton {
      color: var(--primary-text);
      border-color: var(--tertiary);
      line-height: 5pt;
      font-size: 14pt;

      .arrow {
        margin-left: 2pt;
        font-size: 2rem;
      }

      &:hover .arrow {
        transition: 0.3s;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotateZ(90deg);
      }
    }
  }
}
